.return-button {
  font-size: 40px;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  background: #f8f9fa;
  border: 2px solid #dee2e6;
  transition: all 0.2s ease;
  width: 20px;
  height: 20px;
  border-radius: 20px;

}

.return-button:hover {
  background: #e9ecef;
  transform: scale(1.1);
}